In [6]:
import mysql.connector

from mysql.connector import Error
import pandas as pd

In [17]:
def create_server_connection(host_name, user_name, user_password):
    connection = None
    try:
        connection = mysql.connector.connect(
            host=host_name,
            user=user_name,
            passwd=user_password
        )
        print("MySQL Database connection successful")
    except Error as err:
        print(f"Error: '{err}'")

    return connection

user_name = "freedbtech_Barbara_2020"
host_name = "freedb.tech"
pw = "Twilight0213" # IMPORTANT! Put your MySQL Terminal password here.
db = "freedbtech_seed_project_" # This is the name of the database we will create in the next step - call it whatever you like.

connection = create_server_connection("freedb.tech", user_name, pw)

MySQL Database connection successful

In [18]:
def create_db_connection(host_name, user_name, user_password, db_name):
    connection = None
    try:
        connection = mysql.connector.connect(
            host=host_name,
            user=user_name,
            passwd=user_password,
            database=db_name
        )
        print("MySQL Database connection successful")
    except Error as err:
        print(f"Error: '{err}'")

    return connection

In [19]:
def execute_query(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        connection.commit()
        print("Query successful")
    except Error as err:
        print(f"Error: '{err}'")

In [36]:
# Assign our SQL command to a python variable using triple quotes to create a multi-line string
create_teacher_table = """
CREATE TABLE IF NOT EXISTS users (
    users_id INT AUTO_INCREMENT PRIMARY KEY,
    name CHAR(128),
    gender CHAR,
    city CHAR(128),
    wechat_id CHAR(128)
  );
 """

connection = create_db_connection(host_name, user_name, pw, db) # Connect to the Database
execute_query(connection, create_teacher_table) # Execute our defined query

MySQL Database connection successful
Query successful

In [50]:
create_audio_table = """
CREATE TABLE audio (
    audio_id INT AUTO_INCREMENT PRIMARY KEY,
    audio_filename CHAR(128),
    accuracy FLOAT(40),
    users INT(40)
);
 """

connection = create_db_connection(host_name, user_name, pw, db)
execute_query(connection, create_audio_table)

MySQL Database connection successful
Query successful

In [51]:
alter_audio = """
ALTER TABLE audio
ADD FOREIGN KEY(users)
REFERENCES users(users_id)
ON DELETE SET NULL;
"""
connection = create_db_connection(host_name, user_name, pw, db)
execute_query(connection, alter_audio)

MySQL Database connection successful
Query successful

In [56]:
def read_query(connection, query):
    cursor = connection.cursor()
    result = None
    try:
        cursor.execute(query)
        result = cursor.fetchall()
        return result
    except Error as err:
        print(f"Error: '{err}'")

In [60]:
def add_user(users_id, name, gender, city, wechat_id):


    add = f"INSERT INTO users (users_id, name, gender, city, wechat_id) VALUES ({users_id}, {name}, {gender}, {city}, {wechat_id})"

    connection = create_db_connection(host_name, user_name, pw, db)
    execute_query(connection, add)
    
add_user(2, "Robert2", 'M', "Shanghai", "robert20040506")

MySQL Database connection successful
Error: '1054 (42S22): Unknown column 'Robert2' in 'field list''

In [57]:
q1 = """
SELECT *
FROM users;
"""

connection = create_db_connection(host_name, user_name, pw, db)
results = read_query(connection, q1)

for result in results:
    print(result)

MySQL Database connection successful
(1, 'Robert', 'M', 'Shanghai', 'robert20040506')

And here are some more queries to try.